# Dependencies
node_modules/

# Python Virtual Environments & Cache
venv/
.venv/
__pycache__/
*.pyc

# Production / Build
dist/
build/

# Environment Variables
.env
*.env

# File Uploads & Storage
uploads/
*.pdf

# Logs
*.log

# Editor and OS
.vscode/
.idea/
.DS_Store

