# Server Configuration
PORT=3000

# Database Configuration
# Local MongoDB: mongodb://127.0.0.1:27017/internship
# MongoDB Atlas: mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority
mongo_url=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/internship?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
